@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif; 
}

/* hello section */
.hello-h {
  font-family: var(--font-greatvibes);
  font-size: 250px;
  color: #E88B8F;
  -webkit-text-stroke: 1px black;
  display: inline-block;
  transform: translateY(-22px);
  margin-right: 20px;
}

.hello-rest {
  font-family: var(--font-trykker);
  font-size: 160px;
  color: #E88B8F;
  -webkit-text-stroke: 1px black;
  display: inline-block;
  transform: translateY(-22px);
}

.btn-im {
  position: absolute;
  background-color: #FFE5E5;
  color: black;
  top: 180px;
  left: 180px;
  z-index: 10;
  transform: translateX(-100%);
  font-family: var(--font-tenorsans);
}

.btn-name {
  position: absolute;
  background-color: #FFE5E5;
  color: black;
  right: 20px;
  top: 235px;
  z-index: 10;
  font-family: var(--font-tenorsans);
}

.hello-desc {
  margin-top: -55px;
  font-family: var(--font-poppins);
  color: #090909ff;
}

.ribbon-img {
  position: absolute;
  width: 210px;
  height: auto;
  top: -85px;
  left: 5px;
  transform: translateX(-50%);
  z-index: 15;
}

@media (max-width: 480px) {
  .hello-h {
    font-size: 100px !important;
    margin-right: 10px !important;
    transform: translateY(-35px);
  }
  .hello-rest {
    font-size: 85px !important;
    transform: translateY(-35px);
  }
  .btn-im {
    top: 43px !important;
    left: 91px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
  .btn-name {
    top: 70px !important;
    right: 15px !important;
    font-size: 14px !important;
    padding: 6px 30px !important;
  }
  .hello-desc {
    margin-top: -30px !important;
    font-size: 15px !important;
    padding: 0 15px;
  }
  .ribbon-img {
    position: absolute;
    width: 130px;
    height: auto;
    top: -160px;
    left: 70px;
    transform: translateX(-50%);
    z-index: 15;
  }
}

/* about section */
.about-container {
  min-height: 100vh;
  padding-top: 50px;
  background-color: #FFF5F7;
}

.about-wrapper {
  max-width: fit-content;
  margin: 0 auto;
  padding-left: 90px; 
  position: relative;
}

.about-title {
  font-size: 90px;
  color: #000;
  font-family: var(--font-trykker);
  margin-bottom: 20px;
  display: inline-block;
}

.about-a {
  font-family: var(--font-greatvibes);
  margin-right: 16px;
}

.about-m {
  font-family: var(--font-greatvibes);
  margin-right: 9px;
}

.about-desc {
  width: 50%;
  font-size: 20px;
  color: #212020;
  font-family: var(--font-poppins);
  line-height: 1.6;
  padding-right: 20px;
}

.about-box-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 110px;
}

.about-box {
  width: 92%;
  height: 50px;
}

.box-one {
  background-color: #E88B8F;
}

.box-two {
  background-color: #E9B7B7;
}

.about-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80px;
}

.about-photo-wrapper {
  position: absolute;
  bottom: -94px;
  right: 30px;
  z-index: 3;
}

.about-photo {
  position: relative;
  width:650px;
  z-index: 2;
}

.pink-light {
  position: absolute;
  top: 260px;
  right: 110px;
  width: 95px;
  z-index: 1;
}

@media (max-width: 480px) {
  .about-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    max-width: none;
    width: 100%;
  }

  .about-title {
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .about-a {
    font-size: 60px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin-right: 3px;
  }

  .about-m {
    font-size: 60px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin-right: -5px;   
  }

  .about-desc {
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .about-box-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 300px;
  }

  .about-box {
    width: 100%;
    height: 40px;
  }

  .box-one {
    background-color: #E88B8F;
  }

  .box-two {
    background-color: #E9B7B7;
  }

  .about-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
  }

  .about-photo-wrapper {
    position: absolute;
    bottom: -16px;
    right: 30px;
    z-index: 3;
  }

  .about-photo {
    position: relative;
    transform: scale(1.25) translateX(10px);
    z-index: 2;
  }

  .pink-light {
    position: absolute;
    top: 110px;
    right: 50px;
    width: 55px;
    z-index: 1;
  }
}

